<div class="container my-4">
	<div class="row align-items-center">
		<div class="col-12 text-center">
			<img src="assets/img/pokeball.png">
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-12 text-center">
			<div class="my-4">
				<h1 class="display-4">NgKedex</h1>
				<b>v0.1.0</b> | 2019/11
			</div>
			<hr class="mt-2 mb-3">
			A simple, open source, Pokédex built with <a href="https://angular.io/">Angular</a>.<br>
			Data retrieved from <a href="https://pokeapi.co/">PokeAPI</a>.<br>
			Author: <b>dkf10</b> | <a href="https://github.com/dkf10/ngkedex">Source code</a>
		</div>
	</div>
</div>