@import "../../../../assets/styles/variables.scss";


nav {
  height: 70px;
  padding: 0px 25px;
  border-bottom: 5px solid $ngkx-red;

  .navbar-brand{
    height: 100%;
    line-height: 45px;
  }

  .red-squared-btn {
    border: {
      radius: 0;
      color: transparent !important;
    }

    background: {
      color: $ngkx-red !important;
    }

    color: white;
    height: 70px;
    width: 70px;
    font-size: $font-size-subtitle;

    fa-icon {
      outline: none !important;
    }
  }
}

.nav-link {
  &.active {
    color: rgba(255,255,255,0.4) !important;
  }
}