<div class="pos-f-t">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="assets/img/pokeball.png" width="30" height="30">
        </a>
        <div class="navbar-right">
            <button class="red-squared-btn mx-1" type="button" routerLink="search">
                <fa-icon [icon]="searchIcon"></fa-icon>
            </button>
            <button class="red-squared-btn mx-1" type="button" routerLink="about">
                <fa-icon [icon]="infoIcon"></fa-icon>
            </button>
        </div>
    </nav>
</div>