<ngx-spinner
    bdOpacity = 0.6
    bdColor = "rgba(0,0,0,0.66)"
    size = "large"
    color = "#fff"
    type = "line-spin-clockwise-fade"
    [fullScreen] = "true">
    <p style="color: white" > </p>
</ngx-spinner>

<div class="container my-4">
    <div class="row">
        <div class="col-12 text-uppercase font-weight-bold">Pokémon number: {{countedPokemon}}
            <hr class="my-2">
        </div>
    </div>
    <div class="row">
        <div *ngFor="let item of pokemon" class="col-6 col-xl-3 col-md-4 col-sm-6 col-xs-6 my-2">
            <ngkx-pokecard [pokemonName]="item.name" [pokemonUrl]="item.url"></ngkx-pokecard>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr class="mt-2 mb-3">
            <div class="row pagination justify-content-center">
                <div class="col-6 page-item" [ngClass]="{'disabled': !prevPgUrl}">
                    <a class="page-link" href="#" (click)="doNavigate($event, false)">
                        <fa-icon [icon]="prevPgIcon"></fa-icon>
                    </a>
                </div>
                <div class="col-6 text-right page-item" [ngClass]="{'disabled': !nextPgUrl}">
                    <a class="page-link" href="#"(click)="doNavigate($event, true)">
                        <fa-icon [icon]="nextPgIcon"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>