  <div class="container my-4">
	<div class="row">
		<div class="media w-100">
			<div class="card">
				<div class="card-body p-0">
					<img class="align-self-start mr-3" [src]="spritePic" onerror="this.src='assets/img/pokemon/0.png';"
						height="255" width="255" alt="Pokemon sprite">
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-12 text-right font-weight-bold">
							#{{pokemonId}}
						</div>
					</div>
				</div>
			</div>
			<div class="media-body">
				<h1 class="text-capitalize font-weight-light mx-4 mt-0">{{pokemonName}}</h1>
				<hr class="my-3">
				<div class="mx-4 description">
					<div class="row">
						<div class="col-12">
							<span *ngIf="loadedPokemonSpecies">
								{{loadedPokemonSpecies.flavorText}}
							</span>
						</div>
					</div>
					<div class="row pt-3" *ngIf="loadedPokemonBase">
						<div class="col-3">
							<ngkx-base-prop-card
								prop="Base Experience"
								[value]="loadedPokemonBase.baseExperience"
							></ngkx-base-prop-card>
						</div>
						<div class="col-3">
							<ngkx-base-prop-card
								prop="Height (m)"
								[value]="loadedPokemonBase.height"
							></ngkx-base-prop-card>
						</div>
						<div class="col-3">
							<ngkx-base-prop-card
								prop="Weight (kg)"
								[value]="loadedPokemonBase.weight"
							></ngkx-base-prop-card>
						</div>
						<div class="col-3">
							<ngkx-base-prop-card
								prop="Genera"
								[value]="loadedPokemonSpecies.genera"
							></ngkx-base-prop-card>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row my-3">
		<div class="col-12">
			base: {{loadedPokemonBase | json}}
			<hr><br>species: {{loadedPokemonSpecies | json}}
			<hr><br>abilities: {{loadedPokemonAbilities | json}}
			<hr><br>stats: {{loadedPokemonStats | json}}
			<hr><br>types: {{loadedPokemonTypes | json}}
		</div>
	</div>
</div>