<ngx-spinner
	*ngIf="!(loadedPokemonBase && loadedPokemonAbilities && loadedPokemonSpecies && loadedPokemonStats && loadedPokemonTypes)"
    bdOpacity = 0.6
    bdColor = "rgba(0,0,0,0.66)"
    size = "large"
    color = "#fff"
    type = "line-spin-clockwise-fade"
    [fullScreen] = "true">
    <p style="color: white" > </p>
</ngx-spinner>


<div class="container my-4" *ngIf="loadedPokemonBase && loadedPokemonAbilities && loadedPokemonSpecies && loadedPokemonStats && loadedPokemonTypes">
	<div class="row">
		<div class="media w-100 mx-1">
			<div class="card">
				<div class="card-body p-0">
					<img class="align-self-start mr-3" [src]="spritePic" onerror="this.src='assets/img/pokemon/0.png';"
						height="255" width="255" alt="Pokemon sprite">
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-12 text-right font-weight-bold">
							#{{pokemonId}}
						</div>
					</div>
					<hr class="my-2">
					<ngkx-types-card [types]="loadedPokemonTypes"></ngkx-types-card>
				</div>
			</div>
			<div class="media-body">
				<h1 class="text-capitalize font-weight-light mx-4 mt-0">{{pokemonName}}</h1>
				<hr class="my-3">
				<div class="mx-4 description">
					<div class="row">
						<div class="col-12">
							<span>
								{{loadedPokemonSpecies.flavorText}}
							</span>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="row my-3">
		<div class="my-1 col-12 col-xl-6 col-md-6 col-xs-12">
			<div class="infobox mx-1">
				<div class="row infobox-title">
					<span class="text-uppercase font-weight-bold text-white mx-2 my-1">base info</span>
				</div>
				<div class="row bg-dark infobox-content">
					<div class="col-6 col-xl-3 col-md-3 col-sm-6 col-xs-6 p-2">
						<ngkx-base-prop-card prop="Exp" [value]="loadedPokemonBase.baseExperience">
						</ngkx-base-prop-card>
					</div>
					<div class="col-6 col-xl-3 col-md-3 col-sm-6 col-xs-6 p-2">
						<ngkx-base-prop-card prop="Height" [value]="loadedPokemonBase.height"></ngkx-base-prop-card>
					</div>
					<div class="col-6 col-xl-3 col-md-3 col-sm-6 col-xs-6 p-2">
						<ngkx-base-prop-card prop="Weight" [value]="loadedPokemonBase.weight"></ngkx-base-prop-card>
					</div>
					<div class="col-6 col-xl-3 col-md-3 col-sm-6 col-xs-6 p-2">
						<ngkx-base-prop-card prop="Genera" [value]="loadedPokemonSpecies.genera"></ngkx-base-prop-card>
					</div>
				</div>
			</div>

		</div>
		<div class="my-1 col-12 col-xl-6 col-md-6 col-xs-12">
			<div class="infobox mx-1">
				<div class="row infobox-title">
					<span class="text-uppercase font-weight-bold text-white mx-2 my-1">stats</span>
				</div>
				<div class="row bg-dark infobox-content">
					<ngkx-stats-card></ngkx-stats-card>
				</div>
			</div>
		</div>
	</div>


	<div class="row my-3">
		<div class="col-12">
			<hr><span class="display-4 text-uppercase">raw data</span>
			<hr><br>base: {{loadedPokemonBase | json}}
			<hr><br>species: {{loadedPokemonSpecies | json}}
			<hr><br>abilities: {{loadedPokemonAbilities | json}}
			<hr><br>stats: {{loadedPokemonStats | json}}
			<hr><br>types: {{loadedPokemonTypes | json}}
		</div>
	</div>
</div>