// Colors
$ngkx-red: rgba(223, 24, 24);
$ngkx-dark-blue: rgba(2, 10, 26);
$ngkx-light-blue: rgba(185, 212, 232);
$ngkx-semi-light-blue: rgba(148,182,206);

// Typography
$font-size-title: 48px;
$font-size-subtitle: 21px;
$font-size-big: 18px;
$font-size-medium: 16px;
$font-size-regular: 14px;
$font-size-small: 12px;

// Transparent bgs
$very-light-black: rgba(0,0,0,0.03);

$light-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;